<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LoginScreen.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5BC854B8433DE16F24346E0EBA4D8C4714417FF5</string>
				<key>dateExpires</key>
				<string>6/4/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9YG8Q7GPBK.com.sc.LoginScreen</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9YG8Q7GPBK</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LoginScreen.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b5929e5-bbc2-45a5-9180-dcc61bf4cf8d</string>
				<key>dateExpires</key>
				<string>6/4/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.sc.LoginScreen</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9YG8Q7GPBK</string>
				<key>name</key>
				<string>The Mobile Apps Company LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
